body{
  background: blue;
}
form label{
  display:block;
  font-size:20px;
}
form input{
  display:block;
  font-size:20px;
}
td{
  backgroud:rgb(82, 13, 109);
  border: 3px solid;
  color:greenyellow;
  font-size:30px;
}
